# Toronto Neighborhood Project Notebook 1 of 3

In [1]:
import pandas as pd
from bs4 import BeautifulSoup

 First, we read in the html table from Wikipedia using pandas' `read_html`

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

We extract the first dataframe returned and view it

In [6]:
df_boroughs = df[0]

In [7]:
df_boroughs.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

We will remove any Borough that is not assigned

In [9]:
df_boroughs = df_boroughs.loc[df_boroughs.Borough != 'Not assigned'].reset_index()

In [13]:
df_boroughs.Borough.value_counts()

Etobicoke           44
North York          38
Downtown Toronto    37
Scarborough         37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

We need to change any Not assigned neighborhood to its designated Borough

In [14]:
df_boroughs.loc[df_boroughs.Neighborhood == "Not assigned"]

   index Postcode       Borough  Neighborhood
6      9      M9A  Queen's Park  Not assigned

In [16]:
df_boroughs.loc[6, "Neighborhood"] = df_boroughs.loc[6, "Borough"]

In [23]:
df_boroughs.iloc[5:8]

   index Postcode           Borough  Neighborhood
5      7      M7A  Downtown Toronto  Queen's Park
6      9      M9A      Queen's Park  Queen's Park
7     10      M1B       Scarborough         Rouge

Now we need to group the records into Postcode, Neighborhood while concatening the neighborhoods together in a comma separated string

In [30]:
final_df = df_boroughs.groupby(["Postcode", "Borough"]).Neighborhood.apply(lambda x: ",".join(x)).reset_index()

In [31]:
final_df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [32]:
final_df.shape

(103, 3)

In [34]:
final_df.to_csv("final_toronoto_postcode_data.csv", index=False)